# ignore All
*

# Allow specific files
!.gitignore
!.zshrc
!.vimrc
!.latexmkrc
!.arch-setup.sh

!.byobu/
!.byobu/profile.tmux
!.byobu/status

!.vim/
!.vim/conf.d/
!.vim/conf.d/*

!.config/
!.config/Code\ -\ OSS/
!.config/Code\ -\ OSS/User/
!.config/Code\ -\ OSS/User/settings.json
