# ignore All
*

# Allow specific files
!.gitignore
!.zshrc
!.vimrc
!.latexmkrc
!.arch-setup.sh

!.byobu/
!.byobu/profile.tmux
!.byobu/status

!.vim/
!.vim/conf.d/
!.vim/conf.d/*
!.vim/template/
!.vim/template/**

!.texmf/
!.texmf/texmf.cnf
!.texmf/tex/
!.texmf/tex/latex/
!.texmf/tex/latex/**

!.config/
!.config/flake8
!.config/Code\ -\ OSS/
!.config/Code\ -\ OSS/User/
!.config/Code\ -\ OSS/User/settings.json
