# ignore All
*

# Allow specific files
!.gitignore
!.zshrc
!.p10k.zsh
!.gitconfig.sh
!.vimrc
!.latexmkrc
!.arch-setup.sh
!.npmrc

!.config/fish/
!.config/fish/config.fish
!.config/fish/fish_plugins
!.config/fish/conf.d/
!.config/fish/conf.d/alias.fish
!.config/fish/conf.d/env.fish
!.config/fish/conf.d/completion.fish
!.config/fish/conf.d/tide_config.fish

!.tmux.conf

!.config/zellij/
!.config/zellij/**

!.byobu
!.config/byobu/
!.config/byobu/profile.tmux
!.config/byobu/status

!.ssh/
!.ssh/config
!.ssh/conf.d/
!.ssh/conf.d/common

!.vim/
!.vim/conf.d/
!.vim/conf.d/*
!.vim/template/
!.vim/template/**
!.config/nvim/
!.config/nvim/init.vim
!.config/nvim/dein.toml
!.config/nvim/dein_lazy.toml
!.config/nvim/conf.d/
!.config/nvim/conf.d/**
!.config/nvim/template/
!.config/nvim/template/**
!.config/nvim/init.lua
!.config/nvim/lua/
!.config/nvim/lua/**

!.texmf/
!.texmf/texmf.cnf
!.texmf/tex/
!.texmf/tex/latex/
!.texmf/tex/latex/**

!.config/
!.config/flake8
!.config/Code\ -\ OSS/
!.config/Code\ -\ OSS/User/
!.config/Code\ -\ OSS/User/settings.json

!.config/iterm2/
!.config/iterm2/com.googlecode.iterm2.plist

!.config/alacritty/
!.config/alacritty/**
